# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environment
venv/

# Ignore environment files
.env

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore coverage and test reports
.coverage
htmlcov/

# Ignore logs
*.log
